html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td i{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    padding: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
.clearfix:before,
.clearfix:after {
                    content: "";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                    font-size:0;
}

.clearfix { *zoom:1;}
ul li{
    list-style: none;
}
body .wrap a{
    text-decoration: none;
}
body .wrap a:hover{
    color: #fff;
}
.header-top-inner,.header-mid-inner,.banner .content-inner,.skills,.question,.footer-top,.footer-bottom-inner{
    width: 1170px;
    margin: 0 auto;
}
.header-top{
    background-color: #191919;
}
.header-top-inner p{
    line-height: 48px;
    font-size: 14px;
    color: #fff;
    float: left;
}
.header-top-inner div{
    float: right;
    line-height: 48px;
}
.header-top-inner div a{
    color: #fff;
    display: inline-block;
    width: 25px;
    line-height: 25px;
    background-color: #404040;
    border-radius: 2px;
    text-align: center;
}
.header-top-inner div a:hover{
    background-color: red;
}
.header-top-inner div input{
    width: 60px;
    padding: 0 10px;
    height: 25px;
    background-color: #191919;
    border: 0;
    color: #fff;
}
.header-top-inner div .fa-search{
    color: #fff;
}
.logo{
    width: 115px;
float: left;
}
.logo a{
    display: block;
    width: 115px;
    padding-top: 52px;
    background-image: url(../images/logo.png);
}
.header-mid{
    background-color: #151515;
    border-top: 1px solid #222;
}
nav{
    float: right;
    margin-top: 20px;
}
nav>ul>li{
    float: left;
    position: relative;
}
nav> ul> li> a{
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    
    margin-right: 20px;
    border-radius: 4px;
}
nav >ul> li:nth-child(1) a{
background-color: red;
}
nav li .active{
    background-color: red;
}
nav li .dropdown{
    display: none;
    position: absolute;
    width: 130px;
    z-index: 6;
    background-color: #151515;
}
nav > ul>li>.show{
    display: block;
}
nav li .dropdown li a{
    color: #fff;
    display: block;
    padding: 10px 5px;
}
.swiper-container {
    width: 100%;
    height: 730px;
}

.swiper-container .swiper-slide {
    position: relative;
}

.swiper-container .text {
    position: absolute;
    left: 13%;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-container .one {
    background-image: url(../images/slider/bg1.jpg);
    background-size: 100%;
    height: 730px;
}

.swiper-container .two {
    background-image: url(../images/slider/bg2.jpg);
    background-size: 100%;
    height: 730px;
}

.swiper-container .three {
    background-image: url(../images/slider/bg3.jpg);
    background-size: 100%;
    height: 730px;
}
.swiper-container h2{
    color: #fff;
    font-size: 36px;
    line-height: 39px;
}
.swiper-container .text{
    width: 680px;
}
.swiper-container p{
    color: #fff;
    font-size: 20PX;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 35px;
}
.swiper-container .btn-slide{
    color: #fff;
    background-color: red;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px; 
}
.swiper-container img {
    position: absolute;
    right: 26%;
    bottom: 0;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: '';
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: '';
}
.my-prev span {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: red;
    border-radius: 4px;
}
.my-next span {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: red;
    border-radius: 4px;
}
.swiper-pagination>span {
    width: 24px;
    height: 24px;
    padding: 1px;
    background-clip: content-box;
    background-color: #fff;
    border: 1px solid #fff;
    opacity: 1;
}

/* .swiper-pagination > span::after{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #666;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
} */
.swiper-pagination .my-bullet-active {
    background-color: red;
    border: 0;
}

@keyframes myFadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.myFadeInUp {
    animation-name: myFadeInUp;
}

.features{
    background-color: #f2f2f2;
    
}
.features .col-sm-4{
    margin-bottom: 35px;
}
section .features .row .ace{
    border: 3px solid red;
}
.features .fa-outer{
    border-radius: 100%;
    border: 3px solid #fff;
    float: left;
    margin-right: 25px;
}
.features .row .active{
    background-color: red;
    color: #fff;
    border: 0;
}
.features .fa{
    width: 110px;
    height: 110px;
    line-height: 110px;
    font-size: 48px;
    display: block;
    color: red;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    border: 3px solid #f2f2f2;
}
section .jumbotron{
    text-align: center;
}
.features .container .jumbotron{
    background-color: #f2f2f2;
}
.features p{
    color: #787878;
}
.works .jumbotron{
    background-color: #fff;
}
.works .row > div{
    padding: 0;
}
.works .row .rela{
    position: relative;

}
.works .row div img{
 display: block;
 width: 100%;
}
.works .row .text{
    position: absolute;
    top: 0;
    padding: 30px;
    height: 100%;
    background-color: #c52d2f;
    display: none;
}
.works .row .show{
    display: block;
}
.works .text a,.works .text p{
    color: #fff;
}
.service{
    background-color: #000;
    background-image: url(../images/services/bg_services.png);
    background-size: cover;
    margin-top: 60px;
}
.service .service-top{
    text-align: center;
    padding: 40px 200px 60px 200px ;

}
.service .service-top h2,.service .service-top p{
    color: #fff;
}
.service .service-top p{
    font-size: 16px;
}
.service .row .col-sm-4{
   padding-left: 15px;
   padding-right: 15px;
}
.service .row .col-sm-4 > div{
     padding: 40px 30px;
    background-color: #fff; 
    margin-bottom: 35px;
    border-radius: 5px;
}
.service .fa-outer{
    float: left;
    margin-right: 30px;
}
.service .row > div:nth-child(5) img{
    margin-top: 10px;
}
.skills-out{
     background-color: #f2f2f2;
    padding-top: 70px;
}

.skills-left{
    float: left;
    width: 50%;
}
.skills-left .progress{
    position: relative;
    overflow:visible;
}
.skills-left .progress i{
    position: absolute;
    display: block;
    width: 30px;
    height: 15px;
    color: #000;
    top: -15px;
}
.skills-left .progress .jinduone{
    left: 85%;
    background-color: #2d7da4;
}
.skills-left .progress .jindutwo{
      left: 95%;
      background-color: #6aa42f;
}
.skills-left .progress .jinduthree{
    left: 80%;
    background-color: #f0ad4e;
}
.skills-left .progress .jindufour{
     left: 90%;
    background-color: #d9534f; 
}
.skills-con > div > div:first-child{
    background-color: #e6e6e6;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    color: #222;
}
.skills-con div .show{
    display: block;
}
.skills-con div .media{
    margin-top: 0;
}
.skills-con >div .sec{
    display: none;
    background-color: #fff;
    padding: 20px 15px;
}
.wrap .skills-out .skills-con > div  .bgc{
    background-color: #1f1f20;
    color: #fff;
}
.skills-out .skills .skills-con >div .acolor{
    color: #fff;
}
.skills-out .skills .skills-con > div .secabgc{
    background-color: red;
}
.skills-con > div > div a:first-child{
    display: block;
    font-size: 16px;
    float: left;
    font-size: 20px;
    color: #222;
    line-height: 39px;
}
.skills-con > div > div a:last-child{
    display: block;
    background-color: #c9c9c9;
    float: right;
    font-size: 20px;
    height: 39px;
    width: 39px;
    line-height: 39px;
    text-align: center;
}
.skills-left .skill-p{
    margin-bottom: 40px;
}
.skills-right{
    float: right;
    width: 48%;
    margin-left: 2%;
}
.skills-right .skills-con > div{
       width: 100%;
}

.tes{
    margin-top: 70px;
}
.tes-left{
    float: left;
    width: 25%;
}
.tes-left .nav li{
    padding: 12px 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    padding-left: 8px;
}
.tes-left .nav li a{
    font-size: 16px;
    color: #222;
}
.tes-left .nav ul  .li_active{
    background-color: #000;
}
.tes-left .nav ul li > .a_active{
    color: #fff;
}
.tes-text .text-inner > div{
    display: none;
}
.tes-text .text-inner .div_active{
    display: block;
}
.tes-text{
   float: left;
   width: 75%;
}
.tes-text .text-inner{
    position: relative;
}
.tes-text .text-inner > div{
    padding: 20px;
    position: absolute;
    /* opacity: 0; */
}
.tes-text img{
    float: left;
    margin-right: 10px;
}
.testimonials .pic{
    float: left;
    width: 24%;
    /* padding-right: 70px; */
    border-right: 1px solid #eee;
}
.testimonials .content{
    /* padding-left: 20px; */
    float: right;
    width: 70%;
}
.testimonials .pic img{
      display: block;
      border-radius: 50%;
}
.testimonials p,.testimonials span{
    color: #858586;
}












.partners{
    background-image: url(../images/partners/partner_bg.png);
    background-size: 100%;
}
.partners .partners-top{
       text-align: center;
       padding: 40px 200px 60px 200px;
}
.partners-down ul li{
    float: left;
    width: 20%;
}
.question{
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding: 30px 0 ;
}
.question-con{
    width: 75%;
}
.question-left i{
    display: block;
    font-size: 40px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    background-color: #222;
}
.question-left{
    float: left;
    margin-right: 20px;
}
/* .question-right{
    float: left;
} */
.footer-top dl{
     float: left;
     width: 25%;
}
.footer-top dl dt{
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
}
.footer-top dl dd{
    padding: 5px 0 ;
}
.footer-top dl dd a{
    color: #808080;
}
.footer-top dl dd a:hover{
    color: #808080;
}
.footer-bottom{
    padding: 30px 0;
    color: #fff;
    background-color: #2e2e2e;
    border-top: 5px solid #c52d2f;
}
.bottom-right ul li{
    display: block;
    float: left;
    margin-left: 15px;
}
.bottom-right li a{
    color: #fff;
}
.bottom-left{
    float: left;
}
.bottom-right{
    float: right;
}